<div class="image_cover">
    <%= image_tag  "pub.jpg" %>
</div>
<div class="banner">
    <div class="description">
        <h1 class="center"> This is Where Next! </h1>
        <p class="left">
            Where Next is a platform in which you can
            find common interests between you and your
            friends to organize a night out!
        </p>
        <p class="right">
            So what are you waiting for? Sign up and get ready for a fun night out with your friends</p>
    </div>
</div>