<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>

<div class="table-scroll">
    <h1> Create a new Category: </h1>
    <%= form_tag :action => 'create' do %>
        <p><label for = "name">Name: </label>
        <%= text_field 'categories', 'name' %></p>
        <%= submit_tag "Create", class: "btn btn-danger" %>
    <% end -%>
</div>