<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>

<div class="table-scroll">
    <h1><%= @current_category.name %> </h1>
    <%if !@locs.empty?%>
        <h3> Locations with this category: </h3>
        <div class="table-conteiner">
            <table class="table">
                <thead>
                </thead>
                
                <tbody>
                    <% @locs.each do |loc| %>
                        <tr>   
                            <td><%= loc.name %>&nbsp;</td>
                            <td><%= link_to "Show", loc %>&nbsp; </td> 
                        </tr>  
                        
                    <% end %>
                </tbody>
            </table>
        </div>
    <%else%>
        There aren't locations with this category.
    <%end%>
</div>
