<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>
<div class="table-scroll">
    <div class="title">
        <h1> Your Favourites Locations </h1>
    </div>
    <%if !@locations.empty?%>
        <div class="table-conteiner">
            <table class="table">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Street</th>
                    <th colspan="3"></th>
                    </th>
                </thead>
                <tbody>
                    <% @locations.each do |loc| %>
                        <tr>
                            <td><%= loc.name %></td>
                            <td><%= loc.street %></td>
            
                            <td><%= link_to "Show", location_path(loc.id) %>&nbsp;</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <%else%>
        You haven't favourites locations yet
    <%end%>
</div>